* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

main h1 {
  text-align: center;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: auto;
  padding: 20px;
  background-color: blue;
  border-left: 10px solid orange;
  box-shadow: 10px -10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-container .card .pages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
