* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
}

main h1 {
  text-align: center;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 350px;
  padding: 20px;
  background-color: blue;
  border-left: 10px solid orange;
  box-shadow: 10px -10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container .card .pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn button {
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.btn button:hover {
  background-color: blue;
  color: white;
}
form {
  position: absolute;
}
.form-container {
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 75vh;
  background-color: white;
  gap: 10px;
}
.form-container input {
  width: 50%;
}
.form-container .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.add {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
